@page
@model RazorDemo.Pages.AuthPages.ForgetPasswordModel

<h2>ForgetPassword</h2>
<form method="post" style="width: 300px; margin-top:20px">
    <div class="form-group" style="margin-bottom:10px">
        <label for="UserName">Name</label>
        <input type="text" id="UserName" name="User.UserName" class="form-control" required />
    </div>
    <div class="form-group" style="margin-bottom:10px">
        <label for="OldPassword">Old Password</label>
        <input type="password" id="OldPassword" name="User.OldPassword" class="form-control" required />
    </div>
    <div class="form-group" style="margin-bottom:10px">
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="User.NewPassword" class="form-control" required />
    </div>
    <div class="form-group" style="margin-bottom:10px">
        <label for="ConfirmNewPassword">Confirm New Password</label>
        <input type="password" id="ConfirmNewPassword" name="User.ConfirmNewPassword" class="form-control" required />
    </div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color: red;">@Model.ErrorMessage</p>
    }
    <button type="submit" class="btn btn-primary" style="margin-top:20px; margin-right:20px">Submit</button>
</form>

<a asp-page="/AuthPages/Login">LogIn</a>



@section Scripts {
    <script>
        // Check if the operation was successful and display SweetAlert
        @if (Model.IsDone)
        {
            <text>
                    Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "The password is changed successfully",
                    showConfirmButton: false,
                    timer: 1000
            });
                    setTimeout(function () {
                        window.location.href = "/AuthPages/LogIn";}, 1000);
            </text>
        }
        
    </script>
}