@page
@model IndexModel

<center>
    <h1 style="margin-bottom: 30px; margin-top: 50px">Welcome to my Razor & Dapper Demo</h1>


    <a asp-page="/AuthPages/Login" class="btn btn-primary" style="margin-right: 30px;background-color: #4268a1; border-color: #4268a1; font-size: larger;">LogIn</a>
    <a asp-page="/AuthPages/SignUp" class="btn btn-primary" style="background-color: #4268a1; border-color: #4268a1; font-size: larger;">SignUp</a>
</center>

